.leftBavigationBar {
    width: 200px;
    position: fixed;
    height: 100%;
}

.menu {
    height: 100%;
}

.starIcon {
    position: absolute;
    right: 0;
    bottom: 50%;
    transform: translateY(50%);
}
